[Unit]
Description=GitHub Actions Runner (_services.Linux-Host01)
After=network.target

[Service]
ExecStart=/github-runner/runsvc
User=github-runner
WorkingDirectory=/github-runner
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target